{% extends 'base.html' %}

{% block head %}
<title>Edit University</title>
{% endblock %}

{% block body %}
<h1 class="display-3 text-center">Edit University Information</h1>
<br>
<div class="container text-center">
    <form action="{% url 'events:editUniversity' university.pk %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        <a href="{% url 'events:viewUniversity' university.pk %}" class="btn btn-lg btn-secondary">Back</a>
    </form>
</div>
{% endblock %}