{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1 class="display-3 text-center">Events</h1>
<br>
<ul class="container-fluid text-center">
    {% if request.user.perm_level != 'Student' %}
        <a class="btn btn-lg btn-secondary" href="{% url 'events:addEvent' %}">Add an Event</a>
    {% endif %}
    <br><br>
    <h2 class="display-5 text-center">Public Events:</h2>
    {% for event in object_list %}
        {% if event.event_type == 'Public' %}
            <li><a class="mx-auto" href="{% url 'events:viewEvent' event.pk %}">{{ event.name }}</a></li>
        {% endif %}
    {% endfor %}
    <br>
    <h2 class="display-5 text-center">RSO Events:</h2>
    {% for event in object_list %}
        {% if event.event_type == 'RSO' and event.host_rso in request.user.rsos.all %}
            <li><a class="mx-auto" href="{% url 'events:viewEvent' event.pk %}">{{ event.name }}</a></li>
        {% endif %}
    {% endfor %}
    <br>
    <h2 class="display-5 text-center">Private Events:</h2>
    {% for event in object_list %}
        {% if event.event_type == 'Private' and event.university.pk == request.user.university.pk %}
            <li><a class="mx-auto" href="{% url 'events:viewEvent' event.pk %}">{{ event.name }}</a></li>
        {% endif %}
    {% endfor %}
    <br>
</ul>
{% endblock %}